//color
$white: white;
$primary: #69498c;
$secondary: #c7b6da;
$deepblue: #2b3a77;
$beige: #d4b8a6;
$orange: #ff7a00;
$medium-beige: #f5f2ef;
$deepdarkblue: #2e2b4d;
$darkdarkblue: #25223e;
$backgroundgrey: #f2eef5;

//fonts
$default-font: "Work Sans", sans-serif;
$playfair-font: "Playfair Display", serif;
$indieFlower-font: "Indie Flower", "cursive";
$italiana-font: "Italiana", serif;

//Breakpoints
$header-breakpoint: 1285px;
$md-breakpoint: 1070px;
$background-breakpoint: 1056px;
